 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --orange:#f17b1e;
    --orenge100:#ffbb00;
    --iron:#763534;
    --bglight:#f3f3f3;
    --white:#FFF;
    --blue:#3C69A8;
    --light-grey:#333333;

    }
body{
  font-family: "DM Sans", serif;
}
ul, ol{
    padding-left: 1rem;
} 
.text-light-blue{
    color: #3c69a8;
    text-decoration: none;
}
.text-light-orange{
    color: var(--orange);
    text-decoration: none;
}
  .custom-tooltip .tooltip-inner {
        max-width: 400px; /* Adjust the width as needed */
        text-align: left; /* Align the content for better readability */
    }
.card-img {
border: 1px solid #3C69A8;
border-radius: 50%;
background-color: #fff;
width: 60px;
height: 60px;
padding: 15px;
}
.side-unit .card-img {
border: 1px solid #C7C7C7;
border-radius: 50%;
background-color: #fff;
width: 50px;
height: 50px;
padding: 10px;
}
img{
object-fit: cover;
max-width: 100%;
}
.btn-white{
    background-color: #fff;border: 1px solid #C7C7C7;
border-radius: 13px;
/* padding: 15px; */
    
}
.form-check-input{
    border: #3C69A8 solid 1px;
}
.btn-white:hover, .btn-white.active{
    background-color: #3C69A8;
    color: #fff;
    
}
.btn-white.active .card-img{
    border-color: transparent;
    
}
.unit-code{
    color: #9a9a9a;
     font-size: 15px;
}
.side-unit a span:not(.unit-code){
    font-size: 20px;
}
.side-unit{
    border-bottom: 1px solid #C7C7C7;
}
.btn-white.active .unit-code, .btn-white:hover .unit-code{
color: #a2b8d5;    
}
.go-back{
 color:#2D2D50;   
}
.btn-white.active .card-img{
    border-color: transparent;
    
}
.btn-blue{
    background-color: #2D2D50;
    color: #fff;
}
.btn-blue:hover{
    background-color: #212179;
    color: #fff;
}
.btn-light-blue{
    background-color:#3C69A8;
    color: #fff;
}
.btn-light-blue:hover{
    background-color: #1f4881;
    color: #fff;
}
.btn-warning, .btn-warning:hover{
    color: #fff;
}
.text-light-success, .success-text-color{
    color: #6FB53B;
}
.btn-light-success{
    background-color: #6FB53B;
    color: #fff;
}
.btn-light-success:hover{
    background-color: #49811f;
    color: #fff;
}
.table thead tr th{
    background-color: #F1F7FF;    font-weight: 500;
    font-size: .9rem;
}
.table thead tr th:first-child{
       border-top-left-radius: 15px !important;
}
.table thead tr th:last-child{
       border-top-right-radius: 15px !important;
}
.table tbody tr td{

    font-size: .9rem;
}
.border-bottom {
    border-bottom: 1px solid #ddd;
}
.accordion{
    /* display: grid;
    gap:20px; */
    display: flex;
    flex-direction: column;
    gap:20px;
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed, .accordion-item:first-of-type>.accordion-header .accordion-button{
    border-radius: 0;
   
}
.accordion-button, .accordion-button:not(.collapsed){
 
  background-color: #fff;
  color: #3C69A8;
  font-weight: bold;
  border: 0;
  font-size: 1.2rem;

}
.accordion-button:focus{
 box-shadow: none;
}
.accordion-item{
    border-radius: 15px !important;
    border: 0;
    box-shadow: 0px 3px 20px #3C69A81A;
    padding: 0 30px;
}
.accordion-body{
     border-top: 1px solid #ddd;
    /* padding: 0; */
}
.user-icon{
    width: 50px;
    border-radius: 50%;
}
.arrow-box {
    background: #b9d1f3;
    padding: 1px 12px;
    border-radius: 0 0 4px 4px;
    display: inline-block;
    cursor: pointer;
}
header .navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    left: -70px;
}
.filter{
  background-color: #ebf6ff;
  padding: 20px;
  /* border-radius: 10px; */
}
.dashboard-header{
box-shadow: 0px 3px 6px #00000029;

}
.power-requirement {
    width: 9rem;
}
 footer{
      background-color: #2D2D50;
      color: var(--white);
      text-align: center;
      padding: 20px;
     color: #fff;
    }
   .page-content-wrapper{
    padding: 1.5rem 0 ;
      min-height: calc(100vh - 160px) ;
      background: #F4F5FF;

}
.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
}
.sidebar ul{
    background: #3C69A8;
    padding: 10px 0;
    border-radius: 15px;
  
}.sidebar ul .nav-item {
    margin-bottom: 10px;
   
}

.sidebar ul .nav-item .nav-link {
    color: #fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 10px 30px;
   
    transition: background 0.3s ease, color 0.3s ease;
}

.sidebar ul .nav-item .nav-link.active {
    /* background: #2A4A7A;  */
    border-left: 3px solid #FFCE34;
    color: #fff;
     /* border-radius: 10px; */
    /* border-top-left-radius: 10px; */
}

.sidebar ul .nav-item .nav-link:hover {
    background: #2A4A7A;
    color: #fff;
}

.sidebar ul .nav-item .nav-link img {
    width: 16px;
}
.add-unit{
    border:2px dashed #82828D;
    border-radius: 15px;
    display: grid;

    text-align: center;
    place-content: center;
    color: #333333;
    padding: 20px;
    background-color: #fff;
    text-decoration: none;
}

.instructions{
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    border-radius: 15px;

}
.instruct-radio{
    border-top: 1px solid #3C69A81A;
    padding-top: 20px;
}
.step-indicator {
 
    /* background-color: #ffffff; */
    border-radius: 15px;
    /* padding: 20px; */
  
}
.step-indicator .nav-tabs {
   /* border-bottom: 1px solid #ddd; */
   border-bottom: 0;
   justify-content: space-between;
   padding: 30px 0;
 background-color: #ffffff;
 border-radius: 15px;
}
.step-indicator .nav-tabs .nav-item {
  position: relative;
}

.step-indicator .nav-tabs .nav-item:not(:last-child)::after{
  position: absolute;
  content: '';
  right: -45%;
  top: 50%; 
  transform: translateX(50%); 
  width: 70%; 
  height: 2px;
  background-color: #979797;
}

.step-indicator .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
   color: #333333;
    border:0; 
}
.step-indicator .nav-tabs .nav-link.active i {
   color: #3C69A8;

}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    isolation: isolate;
    border: transparent;   color: #333333;
    outline: 0;
}
.nav-tabs .nav-link {
    color: #333333;
    border: 0;
    outline: 0;  
     /* border-bottom: 1px solid #ddd; */
     border-bottom: 0;
         padding: 15px;
    font-size: 0.851rem;
        display: flex
;
    gap: 10px;

}
.step-indicator .nav-tabs .nav-link.active {
   position: relative;
   color: #3C69A8;
   font-weight: bold;
}
/* .step-indicator .nav-tabs .nav-link.active:after {
   position: absolute;
   content: '';
   bottom: 0;
   height: 3px;
   width: 50%;
   left: 50%;
   transform: translateX(-50%);

   background-color: #3C69A8;
} */
.left-content , .box{
    background: #fff;
    padding: 20px;
    border-radius: 15px;

}

 .box{
   color: #484848;box-shadow: 0px 3px 20px #3C69A81A;
}

.box-head, .address{
    border-bottom: 1px solid #ddd;
}
 
/* Star Container */
.star-rating {
    display: inline-flex;
    direction: row;
    gap: 5px;
    cursor: pointer;
}

/* Default Star Style */
.star, .star1, .star2, .star3, .star4, .star5 {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"%3E%3C/polygon%3E%3C/svg%3E') no-repeat center;
    background-size: contain;
    margin-right: 1rem;
}

/* Full Star */
.star.active, .star1.active, .star2.active, .star3.active, .star4.active, .star5.active {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold" stroke="gold" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"%3E%3C/polygon%3E%3C/svg%3E') no-repeat center;
    background-size: contain;
}

/* Half Star */
.star.half, .star1.half {
    background: linear-gradient(to right, gold 50%, lightgray 50%);
    -webkit-mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"%3E%3C/polygon%3E%3C/svg%3E') no-repeat center;
    mask: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"%3E%3C/polygon%3E%3C/svg%3E') no-repeat center;
    background-size: contain;
}


input[type="text"], input[type="email"], input[type="tel"], input[type="file"], .form-select {
    /* background-color: #f2f2f2;*/
    border: #b9bcbf solid 1px; 
  }

.services, .table-top-nav {
 border-bottom: 1px solid #C7C7C7;

}
.table-top-nav{
    border-top:1px solid #C7C7C7;padding-top: 15px;
}
.services a, .table-top-nav a{
text-decoration: none;
color: #333333;
position: relative; padding-bottom: 15px;
font-size: .9rem;
}
.services a.active::after, .table-top-nav a.active::after{
position: absolute;
content: '';
width: 85%;
height: 3px;
background: #3C69A8;
transform: translate(-50%);
bottom: 0;
left: 50%;
}
.services a.active::before {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #3C69A8;
    z-index: 99;
}

/* .services a.active::before{

position: absolute;
content: '';
width: 70%;
height: 3px;
background: #3C69A8;
transform: translate(-50%);
bottom: 0;
left: 50%;
} */
.form-heading {
    position: relative;
    margin-bottom: 2rem;
    color: #2D2D50;
    font-weight: 600;
}
.form-heading:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 48px;
    background: #8aa5cb;
}
.form-heading:before {
    content: "";
    position: absolute;
    left: 58px;
    bottom: -8px;
    height: 2px;
    width: 20px;
    background: #8aa5cb;
}
.form-sub-heading {
    position: relative;
    margin-bottom: 1.5rem;
    color: #2D2D50
}
.form-sub-heading:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 48px;
    background: #8aa5cb;
}
.form-sub-heading:before {
    content: "";
    position: absolute;
    left: 58px;
    bottom: -8px;
    height: 2px;
    width: 20px;
    background: #8aa5cb;
}
.instructions h5 {
    color: #2d2d50;
    font-weight: 600;
}
.instructions ol li {
    margin-bottom: 0.7rem;
}
.instruct-radio .form-check-label {
    color: #2d2d50;
}
.page-heading {
    color: #2d2d50;
    font-weight: 600;
}
.btn-primary {
    border-color: #3C69A8;
    background-color: #3C69A8;
    color: var(--white);
  }
  .btn-outline-primary {
    color: #3C69A8 ;
    border-color: #3C69A8 ;
  }
  .btn-outline-primary:hover {
    background-color: #3C69A8;
    border-color: #3C69A8 ;
  }
  .offcanvas-body .bi-gear {
    font-size: 1.5rem;
    color: #2d2d50;
  }
  .offcanvas-body .bi-bell-fill {
    font-size: 1.5rem;
    color: #2d2d50;
  }
  .offcanvas-body .notofication {
    font-size: .55rem;
    font-style: normal;
    border: #fff solid 2px;
    left: 21px !important;
    top: 7px !important;
    background: #3c69a8 !important;
  }
  .user-profile {
      display: flex;
      align-items: center;
      gap: 1rem;
  }
  .user-profile .user-title {
      font-size: 1rem;
      color: #2d2d50;
      display: block;
      font-weight: 600;
      line-height: 1;
  }
  .user-profile .user-msg {
    font-size: .75rem;
    color: #929291;
    line-height: 1;
}
.download-document {
    color: #000;
    text-decoration: none;
}
.download-document:hover {
    color: #2D2D50;
}
@media screen and (max-width:1366px) {
    .form-heading {
        font-size: 1.2rem;
    }
    .form-label, .form-check-label {
        font-size: 0.9rem;
    }
    .accordion-body p {
        font-size: 0.9rem;
        margin-bottom: 0rem;
    }
    p.fw-bold {
        font-size: 0.9rem;
    }
    .form-select {
        font-size: .851rem;
    }
    .instructions h5 {
        color: #2d2d50;
        font-size: 1rem;
    }
    .instructions ol li {
        font-size: .9rem;
    }
    .page-heading {
        font-size: 1.5rem;
    }
}
.steps-indicator{
     padding: 2.5rem  0;
    
     background-color: #ffffff;
     margin-bottom: 1rem;
     border-radius: 15px;box-shadow: 0px 3px 20px #3C69A81A;
 }
 .navigation_tabs {
    counter-reset: step;
   display: flex
;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}.navigation_tabs li {
    list-style: none;
    display: flex
;
    position: relative;
    text-align: center;
    padding: 0 1.25rem;
    display: table-cell;
    font-weight: 700;
    color: #5e5e5e;
}
.navbar-brand {
    display: flex;
      align-items: center;
      gap: .85rem;
  }
  .navbar-brand img {
    width: 4.688rem;
  }
  .navbar-brand h6 {
    color: #333333;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .navbar-brand h6 span {
    display: block;
    font-size: .85rem;
    color: #878787;
    font-weight: normal;
  }
.navigation_tabs li:not(:first-child) ::after {
    content: "";
    position: absolute;
   width: 40%;
    height: 2px;
    background-color: #ddd;
    top: 50%;
    left: -20%;
    transform: translateX(-50%);

    z-index: 0;

}
.navigation_tabs li.active {
    color: var(--blue);
}
.navigation_tabs li.completed {
    color: var(--blue);
}
.feedback-box2 {
    box-shadow: 0px 0px 10px 0px rgba(158,156,158,0.3);
    padding: 1rem;
    border-radius: 2px;
    margin-bottom: 1.5rem;
}
.feedback-box {
    box-shadow: 0px 0px 10px 0px rgba(158,156,158,0.3);
    padding: 1rem;
    border-radius: 2px;
    margin-bottom: 1.5rem;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}
.rating-average {
    text-align: center;
    width: 100px;
}
.rating-average span {
    display: block;
    font-size: 1.1rem;
    font-weight: 700;
}
.rating-average .bi {
    font-size: 2.5rem;
}
.rating-average .bi-emoji-frown-fill {
    color: #ff3f32;
}
.rating-average .bi-emoji-grimace-fill {
    color: #f7941e;
}
.rating-average .bi-emoji-neutral-fill {
    color: #ffce2b;
}
.rating-average .bi-emoji-smile-fill {
    color: #97cc3d;
}
.rating-average .bi-emoji-grin-fill {
    color: #2fb14c;
}

.feedback-box p {
    color: #6c6b6b;
}
.mandatory-text {
    color: red;
    font-size: .85rem;
}
.search-pruduct-name {
    margin-left: .5rem;
    border-radius: 50%;
    padding: .3rem;
    height: 32px;
    width: 35px;
    text-align: center;
    background-color: #3C69A8;
    cursor: pointer;
}
.search-pruduct-name i {
    color: #fff;
    font-size: 1rem;
}
.login-text{
    position: relative;
}
.login-text:after {
content: "";
    position: absolute;
    left: 43%;
    transform: translate(50%);
    bottom: -8px;
    height: 3px;
    width: 35px;

    background: #8aa5cb;

}
.login-text:before {
    content: "";
    position: absolute;
left: 52%;
    
    transform: translate(50%);
    bottom: -8px;
    height: 3px;
    width: 15px;
    background: #8aa5cb;
}
.nic-download {
    text-decoration: none;
    color: #3C69A8;
}.otp-box input[type="text"]{
  width: 45px;
  height: 45px;
}.otp-box {
  display: flex;
  gap: 1rem;
}