 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --orange:#f17b1e;
    --orenge100:#ffbb00;
    --iron:#763534;
    --bglight:#f3f3f3;
    --white:#FFF;
    --blue:#3C69A8;
    --light-grey:#333333;
}
body{
      font-family: "DM Sans", serif;
}
.login-text{
    position: relative;
}
.login-text:after {
content: "";
    position: absolute;
    left: 39%;
    transform: translate(50%);
    bottom: -8px;
    height: 3px;
    width: 35px;

    background: #8aa5cb;

}
.login-text:before {
    content: "";
    position: absolute;
left: 52%;
    
    transform: translate(50%);
    bottom: -8px;
    height: 3px;
    width: 15px;
    background: #8aa5cb;
}
.back-home a{
/* color: #595959; */
/* font-style: italic; */
line-height: 1;
 text-underline-offset: 2px;
font-size: .9rem;
}
   .left-section {
            background:  url('../images/login-bg.png') no-repeat center center;
    background-size: cover;
            color: white;
            text-align: center;
            padding: 30px 50px;
            border-radius: 30px;
        }

        .left-section img {
            max-width: 100px;
            /* margin-bottom: 20px; */
        }
        .left-section div div:nth-child(2) {
         width: 50%;
        }
        .left-section ul li {
         /* font-size: .8rem; */
         font-size: clamp(0.8rem, 1vw, 1.2rem);
        }

        .right-section {
            background: #ffffff;
            /* box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); */
            padding: 50px;
            position: relative;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #1E1E40;
        }

        .btn-blue {
            background-color:var(--blue);
            color: var(--white);
            border: none;
               height: 45px;padding: 10px;
        }

        .btn-blue:hover {
            background-color: #1f4d8d;
            color:#fff;
        }

        .text-link a {
            color: #1E1E40;
            text-decoration: none;
            transition: all .25s;
        }
        .text-link a:hover, .footer-form a:hover {
            color: #5d96e7;
       text-decoration: underline;
        }


        .otp-box {
  display: flex;
  gap: 1rem;
}
.form-control{
   height: 45px;
}
.input-group .form-control{
    border-right: 0;
}
        .otp-box  .form-control{
 width: 45px;
    height: 45px;
    padding:10px;
    font-size:1.5rem;
    font-weight: 700;
}
.resendotp, .otp-note{
    color: var(--light-grey) ; font: italic normal normal 14px/26px DM Sans;
    text-decoration: none;
}

.footer-form{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
 color: #9c9c9c;

}
.footer-form a{
     /* opacity: 80%; */
  color:#5b5b5b;
  font-weight: bold;
   text-underline-offset: 2px;   transition: all .25s;
}
.input-group-text{
background-color: #fff;

}