
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');
        /* banner img */
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo Narrow", serif;
}
body {
  font-family: "Archivo Narrow", serif;
}
h1, h2, h3, h4, h5 {
  font-family: "Archivo", serif;
}
a {
  text-decoration: none;
}
:root {
  --orange:#b41110;
  --orange1:#F17B1E;
  --orenge100:#ffbb00;
  --iron:#763534;
  --bglight:#f3f3f3;
  --white:#FFF;
  --blue:#025599;
  --dark-blue:#022949;
  --light-blue:#2B88D4;
  --grey:#D5D5D5;
}

.main-section{
  position: relative;
}
    .banner-img {
 background: linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
), 
url('../images/image\ 4.png') no-repeat center center;
background-size: cover;

  height: 100vh;
  background-size: cover;
 
  width: 100%; 
  display: flex;
  justify-content: start;
  align-items: center;
 
}

 header {
  
  background-color: var(--white);   box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

 header nav {
  padding: 10px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

 header nav .dropdown-toggle::after, footer nav .dropdown-toggle::after {
  display: none;
}

header nav .dropdown-toggle i {
  color: var(--blue);
}
.bi-text-left{
    display: inline-block;
    transform: rotate(180deg);
    
}
img{
    width: 100%;
    object-fit: cover;
}
.btn-border-red, .btn-red:hover {
  border-color: var(--blue);
  color: var(--blue);
  border-radius: 20px;
  padding: 5px 25px;
}

.btn-border-red:hover, .btn-red {
  background-color: var(--blue);
  color: #fff; border-radius: 20px; padding: 5px 25px;
}

.banner-text {
  font-size: 48px;
}

.banner-text span {
  font-weight: 900;
}

/* Adjusted banner-info positioning */

.banner-info{
   position: absolute;
  bottom: -10%; 
  left: 50%;
  transform: translateX(-50%); 
    z-index: 20; 
  width: 83%;
}
.banner-info .banner-card{
  background-color: var(--blue);
  padding: 20px; 
  color: var(--white);
}
.Announcement{
  border-top: 1px solid #fff ;
}
.Announcement-sec{
  background-color: var(--orange1);
  color: var(--white);
  padding: 15px;
  border-bottom-left-radius: 8px;
  flex: 0 0 15%;
  /* border-top-right-radius: 30px;
  border-bottom-right-radius: 30px; */
}
.right-triangle {
  width: 0;
    height: 0;
    border-top: 28px solid transparent;
    border-left: 30px solid var(--orange1);
    border-bottom: 28px solid transparent;
   position: absolute;
    right: -28px;
    top: 0;  
    text-align: center;
}

.marquee-sec{
  background-color: var(--dark-blue);
  border-bottom-right-radius: 8px;
  flex: 0 0 85%;
  color: var(--white);
}
/* about section */

.about{
  padding-top: 7rem;
  background-color: var(--);
}
.vr-line{
    height: 100px;
    width: 2px;
    background-color: #FFBB00;
}
.about h3, .resource h3{
    color: var(--blue);
}
.text-red{
    color: var(--light-blue);
}
.about small, .resource small{
    color: #EB8F8E;
}
.border-red{
    border-color: var(--grey);
}

.external-links{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 0;
}
.external-links swiper-slide  {
  width: 249px;
 
}
.external-links swiper-slide:not(:last-child)  {
   border-right: 1px solid rgba(112, 112, 112, .27);
 
}
.external-links swiper-slide img {
    max-width: max-content;
    height: 70px;
}

/* landing cards */
.landing-cards .card-text .bi{
font-size:35px;
color:var(--light-blue);}

/*registration guide */
.registration-guide {
  padding: 4rem 0;
}
.home-title {
  font-size: 28px;
  color: #025599;
  font-weight: 900;
}
.registration-guide ol {
  display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.registration-guide ol li {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.registration-guide ol li .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #F17B1E;
  text-align: center;
  position: relative;
  line-height: 35px;
}
.registration-guide ol li .step-title {
  background: #025599;
  border-radius: 30px;
  color: #fff;
  padding: .7rem .8rem .7rem 3rem;
    margin-left: -30px;
    font-size: .85rem;
    width: 87%;
}
.registration-guide ol li .count {
  padding-right: 12px;
  font-size: 1.3rem;
  color: #f17b1e;
}

/* overview css */

.overview-box {
  position: relative;
  margin-top:140px;
}
.overview-box:after {
  position: absolute;
  right: 130px;
    top: -75px;
    width: 400px;
  height: 1px;
  border-bottom: dashed 1px #2B88D4;
  content: "";
}
.overview-box:before {
  position: absolute;
  left: 132px;
    top: -75px;
    width: 400px;
  height: 1px;
  border-bottom: dashed 1px #2B88D4;
  content: "";
}
.overview-box .card-title {
  background: #D1FDFF;
  color: #2B88D4;
  font-size: 1rem;
  text-align: center;
  padding: .5rem;
  border-radius: 6px 6px 0 0;
  position: relative;
}
.overview-box .card-title:after {
  position: absolute;
    left: 50%;
    top: -74px;
    width: 1px;
    height: 47px;
    border-right: dashed 1px #2B88D4;
    content: "";
}
.overview-box .card-title:before {
  position: absolute;
  left: 48.5%;
  bottom: 21px;
    width: 1px;
    height: 47px;
    content: "\F282";
    font-size: 10px;
    font-family: bootstrap-icons !important;
}
.overview-box .card-title .bi {
  padding-left: 10px;
}
.overview-box .card {
  border-radius: 0 0 6px 6px;
  border: #62C9CE solid 1px;
}
.services-overview-list {
  list-style: none;
  padding-left: 0;
}
.services-overview-list li {
  text-align: center;
  font-size: 1rem;
  color: #2B88D4;
  margin-bottom: .6rem;
  position: relative;
}
.service-title {
  font-size: 28px;
  color: #025599;
  font-weight: 900;
  position: relative;
}
.service-title:after {
  position: absolute;
    left: 512px;
    bottom: -65px;
    width: 20px;
    height: 50px;
    border-right: dashed 1px #2B88D4;
    border-left: dashed 1px #2B88D4;
    content: "";
}
.service-title:before {
  position: absolute;
    right: 510px;
    bottom: -65px;
    width: 20px;
    height: 50px;
    border-right: dashed 1px #2B88D4;
    border-left: dashed 1px #2B88D4;
    content: "";
}




/* resources and tools */
.tools  {
flex-wrap: wrap;
align-items: center;

}
.tools  div{
 flex: 0 0 33.33%;
 display: grid;
 place-content: center;
}
.tools  div div{
  width: 60px;
  height:60px;
  border-radius: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--light-blue); 
  
}

/* footer css */

footer{
    background-color: var(--dark-blue);
    /* color: #fff; */
    padding: 40px 0 0;
}
footer .nav-item a{
    color:#fff;
}
.footer-bottom , .social-icons{
    border-top: 1px solid var(--light-blue);
    color: #fff;
    /* font-size: 17px; */
    text-align: center;
    padding: 20px 0px;
}
.social-icons{
    width: 50%;
    padding: 30px 15px 60px ;
    margin-top:40px ;

}
.social-icons i{
   font-size: 24px;
   color:var(--light-blue);

}
/* gallery css */


/* Gallery Container */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    border:1px solid #FFD3B0;
    border-radius: 10px;
}


/* Gallery Item */
.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Hover Effect */
.gallery-item:hover img {
    transform: scale(1.1);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    display: block;
    margin: 30px auto ;
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
}

.close:hover {
    color: #f00;
}


.landing-gallery .nav-tabs, .landing-gallery .nav-link, .landing-gallery .nav-link.active {
    border:0 ;
    background-color: transparent;
    padding-top:0 ;
    font-size: 1.25rem;
    padding-bottom: 0;
}
.landing-gallery .nav-link:not(.active) {
color: #666666;
}
.landing-gallery .nav-tabs{
    margin-bottom: .3rem;
}
.latest-updates, .latest-tenders{
     border:1px solid #FFD3B0;
    border-radius: 10px;
    padding: 20px;
    max-height: 307px;
    /* background-color: #fff; */
    overflow-y: scroll;
}
.latest-updates .updates{
   display: flex;
   gap: 5px;
   align-items: center;
   
}
.latest-updates .updates:not(:last-child), .latest-tenders ul li:not(:last-child){
    padding-bottom: 20px;
  border-bottom: 1px solid #FFD3B0;
   
}
.latest-updates .updates:not(:first-child),  .latest-tenders ul li:not(:first-child){
    padding-top: 20px;
   
}


.latest-updates .date{
   background-color: var(--light-blue);
   display: flex;
   gap: 5px;
   border-radius: 8px;
   align-items: center;
   color:#fff;
   padding: 8px 13px;

}
.latest-updates .date span{
   line-height: 1;
   font-size: .9rem;

}
.latest-updates .date h2{
          font-size: 2rem;

}
.latest-updates ul li{
          font-size: .9rem;

}

@media (max-width:520px){
    footer .navbar{
display: grid;
    }
    .external-links swiper-slide:not(:last-child)  {
   border-right: 1px solid transparent;
 
}

.modal-content {
   
    margin: 80px auto ;
}
}


/* Style for the scrollbar track */
::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    /* margin-right: 0px; */
}

/* Style for the scrollbar track (background) */
::-webkit-scrollbar-track {
    background: #E4E4E4;
    border-radius: 5px; 
}

/* Style for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: #F17B1E; 
    border-radius: 5px;
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: #e4853d; 
}

/* Optional: Style for the scrollbar corner (where vertical and horizontal scrollbars meet) */
::-webkit-scrollbar-corner {
    background: #f1f1f1;
}









/*sarat===============*/
.map-container svg {
  width: 80%;
}
.map-section h2 {
  font-size: 2rem;
  color: var(--orange);
  font-weight: 900;
}
.map-section h4 {
  font-size: 2rem;
  color: var(--orange);
  font-weight: 400;
  position: relative;
  padding-bottom: .5rem;
}
.map-section h4:after {
  position: absolute;
  left: 0;
  bottom: -10px;
  content: "";
  width: 60px;
  height: 7px;
  background-color: var(--orenge100);
}
.map-section p {
  color: #5E5E5E;
}
.map-section .more-btn {
  font-weight: 700;
  color: #5E5E5E;
}
.map-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #FFFCF0;
  border: #DEB93C solid 1px;
  border-radius: 6px;
  padding: 2rem 1rem;
  position: relative;
}
.dist-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: #FFD3B0 solid 1px;
  padding-bottom: 1.4rem;
  margin-bottom: 1.4rem;
  
}
.dist-name {
  position: absolute;
  left: -36px;
  top: -23px;
  z-index: 1;
  background-color: #E9E9E9;
  border-radius: 30px;
  padding: .4rem 2rem;
  font-weight: 900;
  color: var(--orange);
}
.dist-data h3 {
  font-size: 2.5rem;
    color: var(--orange);
    font-weight: 600;
}
.dist-data h6 {
    color: #5E5E5E
    font-weight: 500;
}
.dist-data h6 span {
  display: block;
    font-weight: 300;
    font-size: .85rem;
    color: #666565;
}
.company-information {
  display: flex;
  gap: 10rem;
  padding: 4rem 0;
  align-items: center;
}
.cg-logo {
  padding-left: 5rem;
}
.information-content ul {
  list-style: none;
}
.information-content ul li {
  align-items: center;
  gap: .7rem;
  display: flex;
  margin-bottom: 1.7rem;
  position: relative;
}
.information-content ul li:nth-child(1):after {
  content: "";
  position: absolute;
  left: -130px;
  top: 19px;
  width: 120px;
  height: 1px;
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(1):before {
  content: "";
  position: absolute;
  left: -280px;
    top: 88px;
    width: 180px;
  height: 1px;
  transform: rotate(-49deg);
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(2):after {
  content: "";
  position: absolute;
  left: -130px;
  top: 19px;
  width: 120px;
  height: 1px;
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(2):before {
  content: "";
  position: absolute;
  left: -233px;
    top: 66px;
    width: 122px;
  height: 1px;
  transform: rotate(-49deg);
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(3):after {
  content: "";
  position: absolute;
  left: -130px;
  top: 19px;
  width: 120px;
  height: 1px;
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(3):before {
  content: "";
  position: absolute;
  left: -204px;
    top: 46px;
    width: 84px;
  height: 1px;
  transform: rotate(-40deg);
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(4):after {
  content: "";
  position: absolute;
  left: -194px;
    top: 27px;
    width: 185px;
  height: 1px;
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(5):after {
  content: "";
  position: absolute;
  left: -130px;
  top: 19px;
  width: 120px;
  height: 1px;
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(5):before {
  content: "";
  position: absolute;
  left: -196px;
    top: 5px;
    width: 68px;
  height: 1px;
  transform: rotate(25deg);
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(6):after {
  content: "";
  position: absolute;
  left: -130px;
  top: 19px;
  width: 120px;
  height: 1px;
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(6):before {
  content: "";
  position: absolute;
  left: -235px;
    top: -5px;
    width: 108px;
  height: 1px;
  transform: rotate(25deg);
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(7):after {
  content: "";
  position: absolute;
  left: -130px;
  top: 19px;
  width: 120px;
  height: 1px;
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li:nth-child(7):before {
  content: "";
  position: absolute;
  left: -293px;
  top: -30px;
  width: 180px;
  height: 1px;
  transform: rotate(33deg);
  border-top: var(--orenge100) dashed 1px;
}
.information-content ul li a {
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 0;
  font-weight: 700;
  color: var(--orange);
}
.information-content ul li a .btn-arrow {
  border-left: var(--orange) solid 1px;
  padding: .5rem .7rem;
}
.information-content ul li a .btn-name {
  color: var(--orange);
  padding: .5rem .7rem;
  font-size: .95rem;
}
.information-content ul li .btn-outline-danger:hover .btn-name {
  color: var(--white);
}
.information-content ul li .btn-outline-danger:hover .btn-arrow  {
  border-left: var(--white) solid 1px;
}
.information-content ul li a:hover .btn-arrow svg {
  fill: #f3f3f3 /* Change to your desired color */
}
.Copyright{
  background-color: var(--blue);
  color: var(--white);
  padding: 20px;
  font-weight: 400;
}
.btn-light{
  background-color: #004074;
  border: 0;
  color: var(--white);
  margin-top: 20px;
}
.btn-red-light {
  background-color: #f17b1e;
  border: 0;
  color: var(--white);
  margin-top: 20px;
}
.btn-red-light:hover {
  background-color:#fff;
  color: #f17b1e;
}

.proposal span{
color: #F17B1E;
}
/* .proposal span:first-child{
color: #F17B1E;
border-radius: 50%;

} */
.track-status {
  position: absolute;
  right: -45px;
  top: 40%;
  background: #F17B1E;
  display: inline-block;
  color: #fff;
  transform: rotate(-90deg);
  padding: .4rem 1rem;
  border-radius: 5px 5px 0 0;
}
.four-cards ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.four-cards ul li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.four-cards ul li:nth-child(1), .four-cards ul li:nth-child(2) { 
  border-bottom: #2B88D4 solid 1px;
  padding-bottom: 1.7rem;
}
.four-cards ul li img {
  border: #F17B1E solid 1px;
  padding: .75rem;
  border-radius: 50%;
}
.four-cards ul li .four-card-count {
  font-size: 2.5rem;
  color: #F17B1E;
  line-height: 1;
}
.four-cards ul li .title {
  font-size: 0.875rem;
  line-height: 1.3;
}
.resource-tools {
  background-color: #F9F9F9;
  padding: 4rem 0;
  margin: 6rem 0;
}